@model WebApp.Models.PaginaInicialViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h4>Quantidade de Paises: @Model.QuantidadeDePaises</h4>
</div>
<div class="text-center">
    <h4>Quantidade de Estados: @Model.QuantidadeDeEstados</h4>
</div>
<div class="text-center">
    <h4>Quantidade de Pessoas: @Model.QuantidadeDePessoas</h4>
</div>